@(message: String, userForm: Form[User])

@import helper._
@import helper.twitterBootstrap._

@main("Welcome to Play 2.1") {
<div class="container">

    <div>
        @if(userForm.hasErrors()){
            <p>Il y a des erreurs</p>
            @if(userForm.errors.size() > 0) {
                @for((key, value) <- userForm.errors) {
                    @key.toString() :
                    @for(err <- value) {
                        <p>@err.message().toString()</p>
                    }
                }
            }
        }
    </div>
    <form action="@routes.Users.add()" method="POST">
        <h1>Register</h1>
        <div>
            <label for="fullName">Full Name:</label>
            <input type="text" name="fullName" id="fullName"/>
            <p></p>
        </div>
        <div>
            <label for="pseudo">Pseudo</label>
            <input type="text" name="pseudo" id="pseudo"/>
        </div>
        <div>
            <label for="email">Email</label>
            <input type="text" name="email" id="email"/>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="text" name="password" id="password"/>
        </div>
        <div>
            <input type="submit" value="Valider"/>
        </div>

    </form>

    <form action="@routes.Application.login()" method="POST">
        <h1>Login</h1>

        <div>
            <label for="pseudo">Pseudo:</label>
            <input type="text" name="pseudo" id="pseudo"/>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="text" name="password" id="password"/>
        </div>
        <div>
            <input type="submit" value="Login"/>
        </div>
    </form>

    <form action="@routes.Users.add()" method="POST">
        <h1>Register bis</h1>
        @inputText(
            userForm("fullName"),
            '_label -> "Full Name",
            '_help -> "Please choose a valid username."
        )
        @inputText(
        userForm("pseudo"),
        '_label -> "Pseudo",
        '_help -> "Choose your pseudo"
        )
        @inputText(
        userForm("email"),
        '_label -> "Email",
        '_help -> "Enter your Email."
        )
        @inputPassword(
        userForm("password"),
        '_label -> "Password",
        '_help -> "The more complicated it is the best."
        )
        <div>
            <input type="submit" value="Valider"/>
        </div>
    </form>

    <form action="@routes.Application.login()" method="POST">
        <h1>Login bis</h1>
        @inputText(
        userForm("pseudo"),
        '_label -> "Pseudo",
        '_help -> "Enter your pseudo.",
        '_error -> userForm.globalError
        )
        @inputPassword(
        userForm("password"),
        '_label -> "Password",
        '_help -> "complicated is better."
        )
        <div>
            <input type="submit" value="login"/>
        </div>



    </form>

</div>
}
