@(message: String, userList: List[User])

@main("Welcome to Play 2.1") {
<div class="container">
    <ul>
        @for(user <- userList){
        <li> - @user.fullName
            <li> Pseudo: @user.pseudo</li>
            <li> Email: @user.email</li>
            <li> MDP: @user.password</li>
        </li>
        }
    </ul>

    <a href="@routes.Application.index()">Index</a>

</div>
}
